/.vscode
/a.out
/amstrom
/amstrom.cpp
/compliment_base_10
/compliment_base_10.cpp
/decimal_to_binary
/decimal_to_binary.cpp
/dsa notes
/factorial
/factors_of_number
/factors_of_number.cpp
/hello
/largest
/largest.c
/pallindrome
/pattern1
/pattern1.cpp
/pattern10.cpp
/pattern2
/pattern2.cpp
/pattern3
/pattern3.cpp
/pattern4
/pattern4.cpp
/pattern5
/pattern5.cpp
/pattern6
/pattern6.cpp
/pattern7
/pattern7.cpp
/pattern8
/pattern8.cpp
/pattern9
/pattern9.cpp
/practice
/practice.cpp
/question1
/question1.cpp
/test
/test.cpp
/test1
/test1.cpp